@use '../styles/abstracts/functions' as *;

.sidebar {
  background-color: color-scale(violet, 50);
  width: 24rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2.25rem 1.5rem;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  width: 3.75rem;
  cursor: pointer;
}

.data_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
  justify-content: space-between;
  overflow: hidden;
}

.data_container {
  display: flex;
  flex-direction: column;
  height: calc(50% - 0.75rem);
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.description {
  font-size: 1rem;
  font-weight: 400;
  color: color-scale(gray, 700);
}

.history_room_container {
  display: flex;
  flex-direction: row;
  border-radius: 0.75rem;
  border: 1px solid color-scale(violet, 300);
  width: 100%;
  height: 3.75rem;
  background-color: white;
  padding: 0.625rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.08);
  gap: 0.75rem;
  cursor: pointer;
  text-decoration: none;
}

.history_room_textbox {
  width: 90%;
  height: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.data_title {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: color-scale(gray, 800);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.data_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.history_room_date {
  font-size: 0.875rem;
  font-weight: 400;
  color: color-scale(gray, 500);
}

.data_delete {
  display: flex;
  width: calc(10% - 0.75rem);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.delete_icon {
  width: 1.25rem;
}

.file_empty_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  color: color-scale(violet, 500);
  font-weight: 500;
}

.life_record_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.25rem;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  display: flex;
}

.status_icon {
  width: 1.25rem;
}

.outlet {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 100vh;
  background-color: green;
}
